@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  
  --color-background: #030014;
  --color-secondary: #0f172a;
  --color-glow: #d946ef;
  --color-text: #ffffff;
  --color-accent: #fb923c;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-inter);
    overflow-x: hidden;
  }
}

@layer utilities {
  .glass-card-light {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  }
  .glass-card {
    background: rgba(15, 23, 42, 0.3);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  }

  .glass-hover {
    transition: all 0.3s ease;
  }
  
  .glass-hover:hover {
    background: rgba(217, 70, 239, 0.05);
    border-color: rgba(217, 70, 239, 0.3);
    box-shadow: 0 10px 40px rgba(217, 70, 239, 0.15);
  }

  .glow-text {
    text-shadow: 0 0 15px rgba(217, 70, 239, 0.4);
  }
}
